{%extends 'base.html'%} {% load bootstrap3 %} {% block content %}  {% load static %} {{ block.super}}
<!DOCTYPE html>
<html>
  <body>
{%block styles%}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
    <header>
      <img src="/static/street.jpg" alt="responsive" height="500"width="1290px">
    </header>
    <!-- <h1>Working</h1> -->
    <div class="container">
      <div class="tabs" style="width: 50rem;">
        <h5>{{profile_item.neighborhood_name}}</h5>
     <div class="row">
     <div class="col-md-2">
         <img src=""class="Neighborhood-card-user-image">
         
        <h3>{{post_item.user}}</h3>
        <h5>{{profile_item.neighborhood_name}}</h5>
      </div>
      {%for posts_item in posts%}
      <div class="col-md-10">
        <ul>
          <h4>{{posts_item.title}}</h4>
          <h4>{{posts_item.post |safe}}</h4>
        </ul>
      </div>
    </div>
    </div>
      {%endfor%}
    </div>
    {%include 'footer.html'%}

  </body>
  {% endblock %}
